# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Variáveis de ambiente / segredos
.env

# Editores / IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
